<div th:fragment="adding-pet">
  <!-- NAME / BREED-->
  <div class="form-row m-b-55">
    <div class="name">Name/Breed</div>
    <div class="value">
      <div class="row row-space">
        <!-- NAME -->
        <div class="col-6">
          <div class="input-group-desc">
            <input
                    class="input--style-5"
                    type="text"
                    th:field="*{name}"
                    th:errorclass="'is-invalid alert-danger'"
                    placeholder="Enter the name:"
            />
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   class="text-danger">Name error message</small>
          </div>
        </div>
        <!-- BREED -->
        <div class="col-6">
          <div class="input-group-desc">
            <input
                    class="input--style-5"
                    type="text"
                    th:field="*{breed}"
                    th:errorclass="'is-invalid alert-danger'"
                    placeholder="Enter the breed:"
            />
            <small th:if="${#fields.hasErrors('breed')}"
                   th:errors="*{breed}"
                   class="text-danger">Breed error message</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- IMAGE -->
  <div class="form-row m-b-55">
    <div class="name">ImageURL</div>
    <div class="value">
      <div class="input-group-desc">
        <input
                class="input--style-5"
                type="text"
                th:field="*{image}"
                th:errorclass="'is-invalid alert-danger'"
                placeholder="Enter the imageUrl:"
        />
        <small th:if="${#fields.hasErrors('image')}"
               th:errors="*{image}"
               class="text-danger">Image error message</small>
      </div>
    </div>
  </div>

  <!-- GENDER AND AGE -->
  <div class="form-row m-b-55">
    <div class="name">Gender/Age</div>
    <div class="value">
      <div class="row row-space">
        <div class="col-6">
          <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
              <select class="input--style-5" style="height: 50px; width: 205px"
                      th:field="*{gender}"
                      th:errorclass="'is-invalid alert-danger'">
                <option value=""
                        selected="selected">
                  Select gender
                </option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
              <div class="select-dropdown"></div>
              <small th:if="${#fields.hasErrors('gender')}"
                     th:errors="*{gender}"
                     class="text-danger">Gender error message</small>
            </div>
          </div>
        </div>

        <!-- AGE -->
        <div class="col-6">
          <div class="input-group-desc">
            <input
                    class="input--style-5"
                    type="text"
                    placeholder="Enter the age:"
                    th:field="*{age}"
                    th:errorclass="'is-invalid alert-danger'"
            />
            <small th:if="${#fields.hasErrors('age')}"
                   th:errors="*{age}"
                   class="text-danger">Age error message</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WEIGHT -->
  <div class="form-row p-t-20">
    <label class="label label--block">Choose the weight range of the pet:?</label>
    <div class="p-t-15">
      <label class="radio-container m-r-55">0-5 kg
        <input type="radio"
               th:field="*{weight}"
               value="BETWEEN_0KG_AND_5KG">
        <span class="checkmark"></span>
      </label>
      <label class="radio-container m-r-55">6-10 kg
        <input type="radio"
               name="weight"
               value="BETWEEN_6KG_AND_10KG">
        <span class="checkmark"></span>
      </label>
      <label class="radio-container m-r-55">11-25 kg
        <input type="radio"
               th:field="*{weight}"
               value="BETWEEN_11KG_AND_25KG">
        <span class="checkmark"></span>
      </label>
      <label class="radio-container m-r-55">25+ kg
        <input type="radio"
               th:field="*{weight}"
               value="UP_25KG">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-row m-b-55">
    <div class="name">Description</div>
    <div class="value">

                                <textarea class="input--style-5"
                                          style="width: 500px"
                                          th:field="*{description}"
                                          th:errorclass="'is-invalid alert-danger'"
                                />
      <small th:if="${#fields.hasErrors('description')}"
             th:errors="*{description}"
             class="text-danger">Description error message</small>

    </div>
  </div>

  <div>
    <button class="btn btn-primary py-xxl-4 px-xxl-5"
            type="submit"
            style="font-size: 17px">
      Send
    </button>
  </div>
</div>