<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>

<header>
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0 mb-5">
        <a th:href="@{/}" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Want A Pet?</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">

                <div class="welcome"
                     sec:authorize="isAuthenticated()">
                    Welcome,
                    <th:block sec:authentication="name"></th:block>
                    !
                </div>

                <a class="nav-item nav-link"
                   th:href="@{/catalog}">Catalog</a>

                <a class="nav-item nav-link"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/add}">Add Pet</a>

                <a class="nav-item nav-link"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/catalog/my-pets}">My Pets</a>

                <a class="nav-item nav-link"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/users/my-account}">My Account</a>

                <a class="nav-item nav-link"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/login}">Login</a>

                <a class="nav-item nav-link"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/register}">Register</a>

                <a class="nav-item nav-link"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/users/login}">
                    <form th:action="@{/logout}"
                          th:method="post">
                        <button type="submit"
                                class="nav-item">LOGOUT
                        </button>
                    </form>
                </a>

                <!--                <a href="about.html" class="nav-item nav-link">About</a>-->
                <!--                <a href="service.html" class="nav-item nav-link">Service</a>-->
                <!--                <a href="product.html" class="nav-item nav-link">Product</a>-->
                <!--                <div class="nav-item dropdown">-->
                <!--                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>-->
                <!--                    <div class="dropdown-menu m-0">-->
                <!--                        <a href="price.html" class="dropdown-item">Pricing Plan</a>-->
                <!--                        <a href="team.html" class="dropdown-item">The Team</a>-->
                <!--                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
                <!--                        <a href="blog.html" class="dropdown-item">Blog Grid</a>-->
                <!--                        <a href="detail.html" class="dropdown-item active">Blog Detail</a>-->
                <!--                    </div>-->
            </div>
            <!--            <a href="contact.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i-->
            <!--                    class="bi bi-arrow-right"></i></a>-->
        </div>
        </div>
    </nav>

</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid bg-dark text-white-50 py-0">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">
                        &copy; <a class="text-white" href="/">Want A Pet?</a>. All
                        Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">
                        Designed by
                        <a class="text-white" href="https://santush87.github.io/Martin-Aleksandrov_CV/"
                           target="_blank"
                           rel="noopener">Martin Aleksandrov</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>