<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
  <div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
      <div class="row justify-content-start">
        <div class="col-lg-8 text-center text-lg-start">
          <h1 class="display-1 text-uppercase text-dark mb-lg-4">ERROR 404</h1>
          <h1 class="text-uppercase text-white mb-lg-4">
            Page does not exists!
          </h1>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
