<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>

<body style="background-image: url(/images/5-dogs.jpg)">

<header th:replace="~{fragments/commons::nav}"></header>

<div class="page-wrapper bg-transparent p-t-45 p-b-50" style="background: url(/images/about.jpg)">>
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Add Cat</h2>
            </div>
            <div class="card-body">

        <form th:method="post"
              th:action="@{/add/dog}"
              th:object="${petCreatingDto}">
            <!-- BREED -->
            <div class="form-row m-b-55">
                <div class="name">Breed</div>
                <div class="value">
                    <div class="input-group">
                        <input
                                class="input--style-5"
                                type="text"
                                th:field="*{breed}"
                                th:errorclass="'is-invalid alert-danger'"
                                placeholder="Husky, Beagle, German Shepherd..."
                        />
                        <small th:if="${#fields.hasErrors('breed')}"
                               th:errors="*{breed}"
                               class="text-danger">Breed error message</small>
                    </div>
                </div>
            </div>


            <!-- IMAGE -->
            <div class="form-row m-b-55">
                <div class="name">Image</div>
                <div class="value">
                    <div class="input-group-desc">
                        <input
                                type="file"
                                th:field="*{image}"
                                th:errorclass="'is-invalid alert-danger'"
                        />
                        <small th:if="${#fields.hasErrors('image')}"
                               th:errors="*{image}"
                               class="text-danger">Image error message</small>
                    </div>
                </div>
            </div>

            <!-- BIRTH ON -->
            <div class="form-row m-b-55">
                <div class="name">Age</div>
                <div class="value">
                    <div class="input-group">
                        <input
                                class="input--style-5"
                                type="date"
                                th:field="*{age}"
                                th:errorclass="'is-invalid alert-danger'"
                                placeholder="5"
                        />
                        <small th:if="${#fields.hasErrors('age')}"
                               th:errors="*{age}"
                               class="text-danger">Birth error message</small>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="form-row m-b-55">
                <div class="name">Description</div>
                <div class="value">
                    <div class="input-group">
                        <input
                                class="input--style-5"
                                type="text"
                                th:field="*{description}"
                                th:errorclass="'is-invalid alert-danger'"
                        />
                        <small th:if="${#fields.hasErrors('description')}"
                               th:errors="*{description}"
                               class="text-danger">Description error message</small>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-primary py-2 px-5" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>