<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/commons::head}"></head>

<body>
<header th:replace="~{/fragments/commons::nav}"></header>

<div class="page-wrapper bg-transparent p-t-45 p-b-50" style="background: url(/images/kitty3.jpg) right">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Add Cat</h2>
            </div>
            <div class="card-body">
                <form th:method="post"
                      th:action="@{/add/cat}"
                      th:object="${petCreatingDto}">

                    <div th:replace="~{/fragments/addingPetForm}"/>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/commons::footer}"></footer>
</body>
</html>