<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<div class="page-wrapper bg-transparent p-t-45 p-b-50" style="background: url(/images/about.jpg)">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Add Dog</h2>
            </div>
            <div class="card-body">
                <form th:method="post"
                      th:action="@{/add/dog}"
                      th:object="${petCreatingDto}">

                    <!-- BREED -->
                    <div class="form-row m-b-55">
                        <div class="name">Breed</div>
                        <div class="value">
                            <div class="input-group">
                                <input
                                        class="input--style-5"
                                        type="text"
                                        th:field="*{breed}"
                                        th:errorclass="'is-invalid alert-danger'"
                                        placeholder="Husky, Beagle, German Shepherd..."
                                />
                                <small th:if="${#fields.hasErrors('breed')}"
                                       th:errors="*{breed}"
                                       class="text-danger">Breed error message</small>
                            </div>
                        </div>
                    </div>


                    <!-- IMAGE -->
                    <div class="form-row m-b-55">
                        <div class="name">Image</div>
                        <div class="value">
                            <div class="input-group-desc">
                                <input
                                        type="file"
                                        th:field="*{image}"
                                        th:errorclass="'is-invalid alert-danger'"
                                />
                                <small th:if="${#fields.hasErrors('image')}"
                                       th:errors="*{image}"
                                       class="text-danger">Image error message</small>
                            </div>
                        </div>
                    </div>

                    <!-- BIRTH ON -->
                    <div class="form-row m-b-55">
                        <div class="name">Birth on</div>
                        <div class="value">
                            <div class="input-group">
                                <input
                                        class="input--style-5"
                                        type="date"
                                        th:field="*{birthOn}"
                                        th:errorclass="'is-invalid alert-danger'"
                                        placeholder="Husky"
                                />
                                <small th:if="${#fields.hasErrors('birthOn')}"
                                       th:errors="*{birthOn}"
                                       class="text-danger">Birth error message</small>
                            </div>
                        </div>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="form-row m-b-55">
                        <div class="name">Description</div>
                        <div class="value">
                            <div class="input-group">
                                <input
                                        class="input--style-5"
                                        type="text"
                                        th:field="*{description}"
                                        th:errorclass="'is-invalid alert-danger'"
                                />
                                <small th:if="${#fields.hasErrors('description')}"
                                       th:errors="*{description}"
                                       class="text-danger">Description error message</small>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary py-2 px-5" type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>