<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<body class="thebody">
<header th:replace="~{fragments/commons::nav}"></header>

<main class="container">

    <h3 class="thetitle"> PETS </h3>

    <div class="products-container">

        <a class="product" th:href="@{/catalog/dogs}">
            <img th:src="@{/images/about.jpg}" alt="">
            <h3>Dogs</h3>
        </a>

        <a class="product" th:href="@{/catalog/cats}">
            <img th:src="@{/images/cats.png}" alt="">
            <h3>Cats</h3>
        </a>

        <a class="product" th:href="@{/catalog/cats-and-dogs}">
            <img th:src="@{/images/cat_and_dog.png}" alt="">
            <h3>Cats and Dogs</h3>
        </a>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>