<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-primary py-5 mb-0 littledog">
        <div class="container py-5">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-white mb-lg-4">PLANNING TO ADOPT A PET?</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">
                        Helping find a home for every pet
                    </h1>
                    <p class="fs-4 text-white mb-lg-4">
                        If we had a magic wand, we’d transform the system so it protects and cares for vulnerable pets.
                        There’d be universal, well-funded support, rehabilitation and care.
                    </p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <!--                        <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5" >Read More</a>-->
                        <!--                        <button-->
                        <!--                                type="button"-->
                        <!--                                class="btn-play"-->
                        <!--                                data-bs-toggle="modal"-->
                        <!--                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"-->
                        <!--                                data-bs-target="#videoModal"-->
                        <!--                        >-->
                        <!--                            <span></span>-->
                        <!--                        </button>-->
                        <!--                        <h5-->
                        <!--                                class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block"-->
                        <!--                        >-->
                        <!--                            Play Video-->
                        <!--                        </h5>-->
                    </div>
                </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded"
                             src="/images/Life-Of-Cat-And-Dog.jpg"
                             style="object-fit: cover"/>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="border-start border-5 border-primary ps-5 mb-5">
                        <h6 class="text-primary text-uppercase">About Us</h6>
                        <h1 class="display-5 text-uppercase mb-0">
                            We Are Looking For Home For Every Pet
                        </h1>
                    </div>
                    <!--                    <h4 class="text-body mb-4">-->
                    <!--                        Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet-->
                    <!--                        no labore lorem sit clita duo justo magna dolore-->
                    <!--                    </h4>-->
                    <div class="bg-light p-4">
                        <ul class="nav nav-pills justify-content-between mb-3"
                            id="pills-tab"
                            role="tablist">
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100 active"
                                        id="pills-1-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-1"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-1"
                                        aria-selected="true">
                                    Our Mission
                                </button>
                            </li>
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100"
                                        id="pills-2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-2"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-2"
                                        aria-selected="false">
                                    Our Vission
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active"
                                 id="pills-1"
                                 role="tabpanel"
                                 aria-labelledby="pills-1-tab">
                                <p class="mb-0">
                                    Our mission is to provide a safe haven for animals in need, offering them love,
                                    care, and a second chance at a fulfilling life. We are dedicated to the rescue,
                                    rehabilitation, and rehoming of abandoned and abused pets, striving to create a
                                    compassionate community where every animal is valued and cherished. Through our
                                    commitment to responsible pet ownership, education, and outreach programs, we aim to
                                    foster a deeper understanding of the importance of the human-animal bond. By
                                    promoting adoption and spaying/neutering initiatives, we work towards reducing the
                                    population of homeless animals and ensuring a brighter future for pets and their
                                    prospective families. Join us in our mission to create a world where every pet finds
                                    a loving home and experiences the joy of a lasting companionship.
                                </p>
                            </div>
                            <div class="tab-pane fade"
                                 id="pills-2"
                                 role="tabpanel"
                                 aria-labelledby="pills-2-tab">
                                <p class="mb-0">
                                    We envision a world where every animal finds a loving and forever home. We strive to
                                    create a haven where abandoned and neglected pets are not only rescued but also
                                    nurtured back to health and happiness. Our vision is to be a beacon of compassion,
                                    connecting animals with compassionate families, and fostering a community that
                                    values the well-being of every furry friend.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
