<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/commons::head}"></head>

<body>
<nav th:replace="~{/fragments/commons::nav}"></nav>
<main>
    <div class="page-wrapper p-t-45 p-b-50" style="background: url(/images/testimonial.jpg)">
        <div class="wrapper wrapper--w680 bg-transparent">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Login</h2>
                </div>
                <div class="card-body">
                    <form th:method="post"
                          th:action="@{/login}">
                        <div class="form-row m-b-55">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5"
                                            type="email"
                                            placeholder="john@gmail.com"
                                            name="email"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-12">
                                        <div class="input-group-desc">
                                            <input class="input--style-5"
                                                    type="password"
                                                    placeholder="Password"
                                                    name="password"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4 medium" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/commons::footer}"></footer>
</body>
</html>
