<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>

<body class="thebody">
<header th:replace="~{fragments/commons::nav}"></header>
<div class="container mt-4 mb-4 p-3 justify-content-center" style="width: 520px"
     th:object="${userDetails}">
    <div class="card-5 fa-2x moveup" >
        <div class=" image d-flex flex-column justify-content-center align-items-center">

            <!--            <button class="btn btn-secondary">-->
<!--            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100"/>-->
            <img src="/images/user.jpg" height="100" width="100"/>
            <!--            </button>-->
        </div>
        <h5 class="card-title text-center"
            style="font-size: x-large; margin-top: 15px; margin-bottom: 20px"
            th:text="*{name}"/>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">Email: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{email}">1069
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">User Type: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{userType}">1069
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">Phone number: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{phoneNumber}">1069
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">Country: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{country}">Bulgaria
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">City: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{city}">1069
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">Street: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{street}">1069
                </span>
            </div>
        </div>

        <div class="row moveright d-flex flex-row justify-content-center align-items-center mt-3 margin-right-auto">
            <div class="col-md-6">
                <h4 class="card-title">Street number: </h4>
            </div>

            <div class="col-md-6">
                    <span class="number"
                          th:text="*{streetNumber}">1069
                </span>
            </div>
        </div>

        <div class=" d-flex mt-2 d-flex flex-column justify-content-center align-items-center" >
            <button class="btn btn-primary py-xxl-4 px-xxl-5"
                    type="submit"
                    style="font-size: 17px">
                Edit Profile
            </button>
        </div>

        <div class=" px-2 rounded mt-4 date d-flex flex-column justify-content-center align-items-center">
            <span class="join ">Joined on <th:block th:text="*{joinedOn}"></th:block></span>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
