<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/commons::head}"></head>

<body class="thebody">
<header th:replace="~{/fragments/commons::nav}"></header>

<main class="container"
      th:object="${pets}">
    <h3 class="thetitle"> My Adopted Pets</h3>
    <div th:if="${pets.size() == 0}">
        <h3 class="thetitle">No Pets Here!</h3>
    </div>
    <div class="products-container">
        <div th:each="pet : ${pets}">
            <div class="product">
<!--                <a th:href="@{/catalog/details/{pets_id}(pets_id=*{pet.id})}">-->
                    <h3 th:text="${pet.petsName} + ' - ' + ${pet.age} + ' years old'"></h3>
                    <img th:src="${pet.petsImage}" alt="">
                    <h3 th:text="'Previous owner - ' + ${pet.prevOwner}"></h3>
                    <h3 th:text="'Adopted on: ' + ${pet.adoptionDate}"></h3>
<!--                </a>-->
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragments/commons::footer}"></footer>
</body>
</html>