<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<body class="thebody">
<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="container-fluid">
    <h2 class="thetitle">Details</h2>
    <div th:object="${petDetails}"
         class="offers row mx-auto d-flex flex-row justify-content-center">
        <!--    Image   -->
        <div class="card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{image}" class="card-img-top" alt="Pet image">
        </div>
        <!--    EO: Image   -->

        <!--    TEXT   -->
        <div class="card col-sm-2 col-md-3  col-lg-4 m-1 p-0 medium">
            <h5 class="card-title text-center"
                style="font-size: x-large; margin-top: 15px; margin-bottom: 20px"
                th:text="*{name}"/>

            <div class="row moveright">
                <div class="col-md-4">
                    <h4 class="card-title">Breed: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{breed}"></th:block>
                </div>
            </div>
            <div class="row moveright">
                <div class="col-md-4">
                    <h4 class="card-title">Type: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{type}"></th:block>
                </div>
            </div>
            <div class="row moveright">
                <div class="col-md-4">
                    <h4 class="card-title">Gender: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{gender}"></th:block>
                </div>
            </div>
            <div class="row moveright">
                <div class="col-md-4">
                    <h4 class="card-title">Age: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{age}"></th:block>
                </div>
            </div>
            <div class="row moveright">
                <div class="col-md-4">
                    <h4 class="card-title">Weight: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{weight}"></th:block>
                </div>
            </div>
            <div class="row moveright" style="margin-bottom: auto">
                <div class="col-md-4">
                    <h4 class="card-title">Description: </h4>
                </div>

                <div class="col-md-8">
                    <th:block th:text="*{description}"></th:block>
                </div>
            </div>

            <div class="row text-center margin-right-auto margin-left-auto"
                 style="margin-bottom: 20px">
                <div class="col-md-3 margin-right-auto"
                     th:if="*{canAdopt}">
                    <form th:action="@{/catalog/details/{pet_id}(pet_id=*{id})}"
                          th:method="post">
                        <button type="submit"
                                class="thebuttons btn btn-primary">Adopt</button>
                    </form>
                </div>
                <div class="col-md-3 margin-right-auto"  th:if="*{viewerIsOwner}">
                    <form th:action="@{/catalog/details/{pet_id}(pet_id=*{id})}"
                          th:method="post">
                        <button type="submit"
                                class="thebuttons btn btn-primary">Edit</button>
                    </form>
                </div>
                <div class="col-md-3 margin-right-auto" th:if="*{viewerIsOwner}">
                    <form th:method="post"
                          th:action="@{/catalog/details/{pet_id}(pet_id=*{id})}">
                        <button class="thebuttons btn btn-primary"
                                type="submit">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--    EO: TEXT   -->
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>